###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

MARVEL_API_BASE_URL="https://gateway.marvel.com/v1/public/"
MARVEL_API_PUBLIC_KEY=
MARVEL_API_PRIVATE_KEY=

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
